#Virtual environment
**/.venv/

#All folders named __pycache__ nested in any folders
**/__pycache__/

#Stored data, including output files
**/data/

#Random
*.DS_Store
*.python-version

#ipynb checkpoints
**/.ipynb_checkpoints/